:root
{
	/** Fontes */
	--dark: #000000;
	--light: #ffffff;

	/** Cor Primaria Highlighs */
	--primary-a0: #22b0d4;
	--primary-a10: #4eb9d9;
	--primary-a20: #6bc1de;
	--primary-a30: #84cae2;
	--primary-a40: #9ad3e7;
	--primary-a50: #b0dcec;

	/** Cor de Fundo */
	--surface-a0: #001524;
	--surface-a10: #1b2a39;
	--surface-a20: #34414e;
	--surface-a30: #4e5965;
	--surface-a40: #69727d;
	--surface-a50: #858d96;

	/** Cor de fundo Tonal */
	--surface-tonal-a0: #052233;
	--surface-tonal-a10: #213747;
	--surface-tonal-a20: #3a4c5b;
	--surface-tonal-a30: #546471;
	--surface-tonal-a40: #6e7b87;
	--surface-tonal-a50: #8a949e;
}

.header
{
	background-color: var(--surface-tonal-a0);
	color: var(--primary-a0);
	padding: 0 0 10px 0;
	text-align: center;
}

.logo
{
	width: 150px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.header span
{
	display: inline-block;
	vertical-align: middle;
	font-family: "Playpen Sans Hebrew", cursive;
	font-optical-sizing: auto;
	font-weight: 150;
	font-style: normal;
	font-size: larger;
}

.order-list
{
	text-align: center;
	color: var(--primary-a0);
}

.order-list table
{
	width: 80%;
	margin: auto;
}

.order-list table th
{
	background-color: var(--surface-tonal-a10);
	color: var(--primary-a0);
	padding: 10px;
	border-radius: 10px 10px 0 0;
}

.order-list table td
{
	/* border: 1px 0 solid var(--surface-tonal-a40); */
	background-color: var(--surface-tonal-a20);
	color: var(--primary-a50);
	transition: 0.3s;
}

.order-list table tr:nth-child(even) td
{
	background-color: var(--surface-tonal-a30);
}

.order-list table tr:hover td
{
	background-color: var(--surface-tonal-a40);
	color: var(--primary-a0);
	height: 2em;
}

.navbar
{
	width: 100%;
	background-color: var(--surface-tonal-a0);
	float: left;
	height: 35px;
}

.navbar ul
{
	list-style-type: none;
	margin: 0 0 0 50%;
	padding: 0;
}

.navbar ul li
{
	display: inline;
	float: left;
}

.navbar ul li a
{
	display: block;
	padding: 8px 20px;
	color: var(--primary-a0);
	text-decoration: none;
	font-size: large;
	border-radius: 15px 15px 0 0;
}

.navbar ul li a:hover
{
	background-color: var(--primary-a40);
	color: var(--surface-a10);
}

.navbar a.active
{
	background-color: var(--surface-a0);
	height: 35px;
}

.navbar a.active:hover
{
	background-color: var(--surface-a0);
	color: var(--primary-a0);
}

.category-icon
{
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
}
body
{
	margin: 0;
	padding: 0;
	background-color: var(--surface-a0);
}