:root
{
	/** Fontes */
	--dark: #000000;
	--light: #ffffff;

	/** Cor Primaria Highlighs */
	--primary-a0: #22b0d4;
	--primary-a10: #4eb9d9;
	--primary-a20: #6bc1de;
	--primary-a30: #84cae2;
	--primary-a40: #9ad3e7;
	--primary-a50: #b0dcec;

	/** Cor de Fundo */
	--surface-a0: #001524;
	--surface-a10: #1b2a39;
	--surface-a20: #34414e;
	--surface-a30: #4e5965;
	--surface-a40: #69727d;
	--surface-a50: #858d96;

	/** Cor de fundo Tonal */
	--surface-tonal-a0: #052233;
	--surface-tonal-a10: #213747;
	--surface-tonal-a20: #3a4c5b;
	--surface-tonal-a30: #546471;
	--surface-tonal-a40: #6e7b87;
	--surface-tonal-a50: #8a949e;

	--body-height: 1080px;
}

.header
{
	background-color: var(--surface-tonal-a0);
	color: var(--primary-a0);
	padding: 0 0 10px 0;
	text-align: center;
}

div.main-content
{
	width: 80%;
	margin: 20px auto;
	background-color: var(--surface-a0);
	display: block;
	height: calc(var(--body-height) * 0.8);
}

h2.title
{
	text-align: center;
	color: var(--primary-a10);
	margin-top: 50px;
}

.logo
{
	width: 150px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.header span
{
	display: inline-block;
	vertical-align: middle;
	font-family: "Playpen Sans Hebrew", cursive;
	font-optical-sizing: auto;
	font-weight: 150;
	font-style: normal;
	font-size: larger;
}

.order-list
{
	text-align: center;
	color: var(--primary-a0);
}

.order-list table
{
	width: 80%;
	margin: auto;
}

.order-list table th
{
	background-color: var(--surface-tonal-a10);
	color: var(--primary-a0);
	padding: 10px;
	border-radius: 10px 10px 0 0;
}

.order-list table td
{
	/* border: 1px 0 solid var(--surface-tonal-a40); */
	background-color: var(--surface-tonal-a20);
	color: var(--primary-a50);
	transition: 0.3s;
}

.order-list table tr:nth-child(even) td
{
	background-color: var(--surface-tonal-a30);
}

.order-list table tr:hover td
{
	background-color: var(--surface-tonal-a40);
	color: var(--primary-a0);
	height: 2em;
}

.navbar
{
	width: 100%;
	background-color: var(--surface-tonal-a0);
	float: left;
	height: 35px;
}

.navbar ul
{
	list-style-type: none;
	margin: 0 0 0 50%;
	padding: 0;
}

.navbar ul li
{
	display: inline;
	float: left;
}

.navbar ul li a
{
	display: block;
	padding: 8px 20px;
	color: var(--primary-a0);
	text-decoration: none;
	font-size: large;
	border-radius: 15px 15px 0 0;
}

.navbar ul li.extra
{
	display: block;
	padding: 8px 20px;
	color: var(--primary-a0);
	font-size: large;
	border-radius: 15px 15px 0 0;
	background-color: var(--surface-a0);
	height: 35px;
}

.navbar ul li a:hover
{
	background-color: var(--primary-a40);
	color: var(--surface-a10);
}

.navbar a.active
{
	background-color: var(--surface-a0);
	height: 35px;
}

.navbar a.active:hover
{
	background-color: var(--surface-a0);
	color: var(--primary-a0);
}

.service-list .main-content
{
	background-color: var(--surface-tonal-a10);
}

.service-list .view
{
	width: inherit;
	height: 90%;
	display: block;
	margin: 0 auto;
}

.service-item
{
	display: block;
	background-color: var(--primary-a10);
	width: 40%;
	border: 2.5px solid var(--primary-a0);
	border-radius: 10px;
	margin: 10px 4.5%;
	float: left;
}

.service-item:hover
{
	background-color: var(--surface-tonal-a10);
	border-color: var(--surface-a50);
	transition: 0.3s;
}

.service-item > *
{
	margin: 10px 5px;
}

.service-item h3
{
	background-color: var(--primary-a0);
	color: var(--surface-a10);
	text-align: center;
	margin: 0 0 10px 0;
	padding: 10px 0;
	border-radius: 10px 10px 0 0;
}

.service-item:hover h3
{
	background-color: var(--surface-a10);
	color: var(--primary-a0);
}

.category-icon
{
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
}

.service-item a
{
	text-decoration: none;
	color: var(--surface-a0);
	margin: 0;
	padding: 0;
}

.service-item:hover a
{
	color: var(--primary-a20);
}

.new
{
	font-size: xxx-large;
	text-align: center;
	display: block;
}

.button-edit
{
	float: right;
	background-color: var(--primary-a0);
	border-color: var(--primary-a20);
	padding: 5px;
	border-radius: 2px;
}

.service form > div
{
	display: flex;
	margin-bottom: 5px;
}

.service label
{
	flex: 0 0 25%;
	color: var(--primary-a0);
	margin: 10px 0;
	padding-left: 10px;
}

.service input
{
	flex-grow: 1;
}

.service textarea
{
	min-height: 100px;
	flex-grow: 1;
}

.service h3
{
	color: var(--primary-a0);
	flex: 0 0 25%;
}

.categories > div
{
	flex-grow: 1;
	flex-wrap: wrap;
	display: flex;
}

.categories > div > label
{
	flex-basis: content;
	align-self: flex-end;
	margin: 0;
}

.categories input[type="checkbox"]
{
	opacity: 0;
	width: 0;
	height: 0;
}

.categories input + span
{
	background-color: var(--surface-tonal-a10);
	font-size: xx-large;
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
	content: "";
	padding: 5px 5px 0 5px;
	text-decoration: line-through;
}

.categories input:checked + span
{
	background-color: var(--primary-a0);
	color: var(--surface-a10);
	text-decoration: none;
}

.service .button-submit, .button-cancel
{
	background-color: var(--primary-a10);
	color: var(--surface-a10);
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	margin: 5px 10px;
}

.service .button-submit:hover
{
	background-color: var(--primary-a0);
	color: var(--surface-a10);
}

.service .button-cancel:hover
{
	background-color: red;
	color: var(--surface-a10);
}

body
{
	margin: 0;
	padding: 0;
	background-color: var(--surface-a0);
	height: 1080px;
}